header {
    padding-block: 10px;
    background-color: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        h1 {
            margin-block: 10px;
            font-size: clamp(22px, 5vw, 40px);
        }
    
        button {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 14px;
            cursor: pointer;
    
            @media (width <= 400px) {
                & {
                    font-size: 0;
                    gap: 0;
                }
            }
    
            svg {
                width: 19px;
            }
        }
    }
}